# Dipakai kalau backend dijalankan lewat Docker Compose.
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/kerjole_db
SECRET_KEY=kerjole-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
